#p1{
    font-family: 'Rubik Iso', cursive;
    font-family: 'Silkscreen', cursive;
   
}
#p2{
    font-family: 'Carattere';
}
#p3{
    font-family: 'Genos';
    color:black;
}
#p4{
    font-family: 'Comforter';
}
#p5{
font-family: 'Indie Flower', cursive;
}
#p6{
font-family: 'Alumni Sans Pinstripe', sans-serif;
color: black;
}
#p7{

font-family: 'Pacifico', cursive;
}
#p8{
font-family: 'Josefin Sans', sans-serif;
}