@font-face {
    font-family: 'Carattere';
    src: local('Carattere Regular'), local('Carattere-Regular'),
        url('Carattere-Regular.woff2') format('woff2'),
        url('Carattere-Regular.woff') format('woff'),
        url('Carattere-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }